@{
    Layout = "";
    var dem = 1;
}
@model IEnumerable<DataAccess.Models.Comment>
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dashboard Admin</title>

    <link rel="stylesheet" href="~/css/admin.css">


</head>


<body>

    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a asp-controller="Account" asp-action="admin">
                        <span class="icon">
                            <ion-icon name="person-circle-outline"></ion-icon>
                        </span>
                        <span class="title">Manager Homestay</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Account" asp-action="admin">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Account" asp-action="customers">
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                        <span class="title">Customers</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Comment" asp-action="comment">
                        <span class="icon">
                            <ion-icon name="chatbox-ellipses-outline"></ion-icon>
                        </span>
                        <span class="title">Message</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Transport" asp-action="transport">
                        <span class="icon">
                            <ion-icon name="bicycle-outline"></ion-icon>
                        </span>
                        <span class="title">Transport</span>
                    </a>
                </li>
                  <li>
                    <a asp-controller="Bill" asp-action="BillAdmin">
                        <span class="icon">
                              <ion-icon name="reader-outline"></ion-icon>
                        </span>
                        <span class="title">Bill</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Account" asp-action="Login">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title">Sign out</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- main -->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>

                <!-- seach -->
                <div class="search">
                    <label>
                        <input type="text" placeholder="Seach here">
                        <ion-icon name="search-outline"></ion-icon>
                    </label>
                </div>


                <!-- user -->

                <div class="user">
                    <img src="~/images/User1.png">
                </div>
            </div>

            <!-- cards -->
            <div class="cardBox">
                <div class="card">
                    <div>
                        <div class="numbers">1.321</div>
                        <div class="cardName">Daily Views</div>
                    </div>

                    <div class="iconBox">
                        <ion-icon name="eye-outline"></ion-icon>
                    </div>
                </div>
                <div class="card">
                    <div>
                        <div class="numbers">@ViewBag.NumRoom</div>
                        <div class="cardName">Room</div>
                    </div>

                    <div class="iconBox">
                        <ion-icon name="storefront-outline"></ion-icon>
                    </div>
                </div>
                <div class="card">
                    <div>
                        <div class="numbers">@ViewBag.NumComment</div>
                        <div class="cardName">Comment</div>
                    </div>

                    <div class="iconBox">
                        <ion-icon name="chatbubbles-outline"></ion-icon>
                    </div>
                </div>
                <div class="card">
                    <div>
                        <div class="numbers">@ViewBag.Earning</div>
                        <div class="cardName">Earning</div>
                    </div>

                    <div class="iconBox">
                        <ion-icon name="cash-outline"></ion-icon>
                    </div>
                </div>
            </div>

            <!-- datablist -->

            <div class="details">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h2>Comment</h2>
                     

                    </div>
                    <table>
                        <thead>
                            <tr>
                                <td>Comment</td>
                                <td>Rate</td>
                                <td>Description</td>
                                <td>User</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@dem</td>
                                    @if (item.Rate == 5)
                                    {
                                        <td>*****</td>
                                    }
                                     @if (item.Rate == 4)
                                    {
                                        <td>****</td>
                                    }
                                     @if (item.Rate == 3)
                                    {
                                        <td>***</td>
                                    }
                                     @if (item.Rate == 2)
                                    {
                                        <td>**</td>
                                    }
                                     @if (item.Rate == 1)
                                    {
                                        <td>*</td>
                                    }
                                    @if (item.Rate == null)
                                    {
                                        <td></td>
                                    }
                                    <td>@item.Description</td>
                                    <td>@item.IdaccNavigation.FullName</td>
                                    <td>
                                        <a class="btn" asp-action="DeleteComment" asp-route-id="@item.Idcomment">Delete</a>
                                    </td>
                                </tr>
                                
                                    dem++;
                                
                            }

                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>


    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script>
        let toggle = document.querySelector('.toggle');
        let navigation = document.querySelector('.navigation');
        let main = document.querySelector('.main');

        toggle.onclick = function() {
            navigation.classList.toggle('active');
            main.classList.toggle('active');
        }

        let list = document.querySelectorAll('.navigation li');
        function activeLink() {
            list.forEach((item) =>
                item.classList.remove('hoverd'));
            this.classList.add('hoverd');

        }
        list.forEach((item) =>
            item.addEventListener('mouseover', activeLink));
    </script>

</body>

</html>